form {
    background-color: #fff; /* fehér háttér az űrlapnak */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* finom árnyék */
    width: 100%;
    max-width: 900px;
    align-items: center;
}


.benyujt{
    width: 200px;
    background-color: orange;
    color: black;
    border-radius: 9px;
}

.benyujt:hover{
    background-color: rgb(255, 149, 57);
    color: white;
}



button {
    background-color: #f5e084; 
    color: white;
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d4bb2c; 
}



.recepkero{
    align-items: center;
}