


.App {
  background-color: #eeecd6; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  border-radius: 8px; 
  padding: 20px; 
  width: 90%; 
  max-width: 900px; 
  text-align: center; 
  margin: 0 auto;
  align-items: center;
}


nav {
  background-color: #c3913a; 
  padding: 15px 20px; 
  text-align: left; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

nav a {
  color: white; 
  text-decoration: none; 
  font-size: 1.2rem; 
  margin: 0 15px; 
  padding: 10px 15px; 
  border-radius: 4px; 
  transition: background-color 0.3s, color 0.3s; 
}

nav a:hover {
  background-color: #c75412; 
  color: #f4f4f4; 
}

nav a.active {
  background-color: #333;
  color: white; 
}


@media (max-width: 768px) {
  nav {
    padding: 10px;
  }
  nav a {
    font-size: 1rem;
    margin: 0 10px;
  }
}

.App-header {
  background-color: #e19f34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
